.vscode
nbproject
.vagrant
.history
.setting
.settings
.buildpath
*.zip
*.rar
.metadata
.settings
.buildpath
.project
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.nc
*.DS_Store
*.phar
*.log
#database.php